* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Quicksand', sans-serif;
}

body {
    background-image: url(https://i.pinimg.com/originals/7c/a2/a2/7ca2a2be56568ae03d5dc18b21de6966.png);
    background-size: cover;
}

.stats-container {
    background-color: pink;
    border-radius: 30px;
    border-bottom: 5px solid rgb(122, 207, 218);
}

h3 {
    text-align: center;
    color: rgb(169, 49, 193);
    padding: 40px 10px 40px 10px;

}

.grid {
    background-color: pink;
    border-radius: 20px;
    display: flex;
    flex-wrap: wrap;
    height: 400px;
    width: 200px;
    gap: 2px;
    column-count: auto;
}

/* .wrapper {
    box-sizing: content-box;
    width: 500px;
    padding: 50px 50px;
    background-color: rgb(237, 176, 229);
    position: absolute;
    transform: translate(-50%, -50%);
    left: 50%;
    top: 50%;
    border-radius: 20px;
    box-shadow: 0 5px 50px rgb(235, 9, 231);
} */



