* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Quicksand', sans-serif;
}

body {
    background-image: url(https://i.pinimg.com/originals/7c/a2/a2/7ca2a2be56568ae03d5dc18b21de6966.png);
    background-size: cover;
}

.stats-container {
    background-color: pink;
    border-radius: 20px;
    border-bottom: 5px solid rgb(122, 207, 218);
    border-top: 5px solid rgb(122, 207, 218);
    border-left: 5px solid rgb(122, 207, 218);
    border-left: 5px solid rgb(122, 207, 218);
    border-color: rgb(122, 207, 218);
    opacity: 75%;
}

h3 {
    text-align: center;
    color: rgb(169, 49, 193);
    padding: 40px 10px 40px 10px;
    text-decoration: underline;
}

.grid {
    box-sizing: border-box;
    box-shadow: 0 0.9em 2.8em rgb(42, 226, 239);
    position: absolute;
    left: 37%;
    top: 20%;
    background-color: pink;
    border-radius: 20px;
    display: flex;
    flex-wrap: wrap;
    height: 400px;
    width: 200px;
   
}


